.vscode/


bin/*
!bin/repo/
bin/repo/*
!bin/repo/releases/
bin/repo/releases/*
!bin/repo/releases/x86/
bin/repo/releases/x86/*
!bin/repo/releases/x86/windirstat/









secrets.md





dist/
*.exe
*.out
*.log

*.pact
*.conf
*.py
*.db
*.sum




#*.ps1