.vscode/


bin/*
!bin/repo/
bin/repo/*
!bin/repo/packages/
bin/repo/packages/*

!bin/repo/packages/windirstat/
bin/repo/packages/windirstat/*

!bin/repo/packages/windirstat/2.7.0






secrets.md





dist/
*.exe
*.out
*.log

*.pact
*.conf
*.py
*.db
*.sum




#*.ps1