.vscode/
# pact-tools
#bin/

bin/*
!bin/test-buckets/
bin/test-buckets/*
!bin/test-buckets/windirstat/


secrets.md





dist/
*.exe
*.out
*.log
#test-buckets/
*.toml

.env
*.pact
*.conf
#*.ps1
*.py
*.db
*.sum
